<div class="container bg-light py-3">
              <div class="card">
                <div class="col-md-10">
                  <h2 class="text-center">Issues</h2>
                  <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Comments</th>
                            <th>Project Name</th>
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let issue of issues">
                              <td><a >{{issue.name | titlecase}}</a></td>
                              <td><a >{{issue.comment}}</a></td>
                              <td><a >{{issue.projectName}}</a></td>
                              <td><button class="btn btn-info" (click)="viewIssueResource(issue.id)" > View Resource</button></td>
                            </tr>
                        </tbody>
                  </table>

                </div>

              </div>
 </div>

<!-- <div class="panel panel-primary" *ngFor="let issue of issues">

  <div class="panel-heading">
      <div class="panel-title">
        {{issue.name}}
      </div>

    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row">

            <div class="col-xs-4">
                <img [src]="issue.img" alt="">
            </div>

          <div class="col-xs-8">

            <div class="row">
                <div class="col-xs-6">
                  Issue id
                </div>

              <div class="col-xs-6">
                :{{issue.id}}
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    
  </div>

</div> -->
  
  
