<div class="jumbotron">
<div class="row mt-4"></div>
<h2 class="text-center">{{project.projectName| titlecase}}</h2>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form>
            <div class="form-group row">
              <label for="text1" class="col-3 col-form-label">Project Name:</label> 
              <div class="col-6">
                  <label for="text1" class="col-6 col-form-label">{{project.projectName}}</label>
              </div>
            </div>

            <div class="form-group row">
                <label for="text1" class="col-3 col-form-label">Project ID:</label> 
                <div class="col-6">
                    <label for="text1" class="col-6 col-form-label">{{project.id}}</label>
                </div>
              </div>

            <div class="form-group row">
                <label for="text1" class="col-3 col-form-label">Project Deadline:</label> 
                <div class="col-6">
                    <label for="text1" class="col-6 col-form-label">{{project.deadline}}</label>
                </div>
              </div>

              <div class="form-group row">
                <label for="text1" class="col-3 col-form-label">Assigned Engineer:</label> 
                <div class="col-6">
                    <label for="text1" class="col-6 col-form-label">{{project.engineerId}}</label>
                </div>
              </div>

              <div class="form-group row">
                <label for="text1" class="col-3 col-form-label">Assigned Connstructor:</label> 
                <div class="col-6">
                    <label for="text1" class="col-6 col-form-label">{{project.constructorId}}</label>
                </div>
              </div>

              <div class="form-group row">
                <label for="text1" class="col-3 col-form-label">Assigned Client:</label> 
                <div class="col-6">
                    <label for="text1" class="col-6 col-form-label">{{project.clientId}}</label>
                </div>
              </div>
              <!-- add image button -->
              <!-- <button class="btn btn-info" (click)="viewProjectResource()" > View Resource</button> -->

              <div id="projectResouse" >
                  <img src="{{projectImage}}" class="img-fluid" alt="Grokonez-About Image"  >
                </div>


            <!-- <div class="form-group row">
                <label for="text" class="col-3 col-form-label">Assign Tasks</label> 
                <div class="col-6">
                    <ul class="list-group" *ngFor="let task of project.tasks">
                        <li class="list-group-item"><a [routerLink]="['/viewTask', task.id]">{{task.name}}</a></li>
                    </ul>
                </div>
            </div>  -->

            <!-- <div class="form-group row">
                    <label for="text" class="col-3 col-form-label">Reported Issues</label> 
                    <div class="col-6">
                        <ul class="list-group" *ngFor="let issue of project.issues">
                            <li class="list-group-item"><a [routerLink]="['/viewIssue', issue.id]">{{issue.name}}</a></li>
                        </ul>
                    </div>
            </div>  -->

          </form>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>

