<!--
<div class="jumbotron">
<h2>Constructor List</h2>
<ul *ngFor= "let constructor of constructors">
  <li >{{constructor.id}}.{{constructor.name}}-{{constructor.constructor_type}}</li>
</ul>
</div>
-->

<h3 class="center">Truckit Enagineers</h3>

<div class="jumbotron">
  <div class="card">
    
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Constructor Type</th>
  </tr>
  

  <tr *ngFor= "let constructor of constructors">
    <td>{{constructor.id}}</td>

    <td><a href="">{{constructor.name}} </a> </td>

    <td>{{constructor.constructor_type}}</td>
  </tr>


  
</table>

</div>

</div>