
<div class="container">
    <div class="row">
        <div class="mx-auto col-sm-12">

<div class="card">
  <div class="col-md-12">

      <div class="card-header">
          <h2 class="text-center">System Users</h2>
      </div>

      <div class="card-body">
    <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>User Name</th>
              
              <th>User Email</th>
              <th>User Role Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users">
                <td><a >{{user.id}}</a></td>
                <td><a [routerLink]="">{{user.name}}</a></td>
                <td><a href="{{user.email}}">{{user.email}}</a></td>

                <td *ngIf="user.userRole ==='PM'">Project Manager</td>
                <td *ngIf="user.userRole ==='CL'">Client</td>
                <td *ngIf="user.userRole ==='CON'">Constructor</td>
                <td *ngIf="user.userRole ==='ENG'">Engineer</td>

                <!-- <td [ngSwitch]="user.userRole" >

                  <div >
                  <span *ngSwitchCase="PM">Project Manager</span>
                  <span *ngSwitchCase="CL">Client</span>
                  <span *ngSwitchCase="CON">Constructor</span>
                  <span *ngSwitchCase="Eng">Engineer</span>
                  <span *ngSwitchDefault> Invalid User Role</span>
                </div>
                </td> -->
                
                
                <td><button class="btn btn-danger" (click)="deleteuser(user)"> Delete</button></td>
              </tr>
          </tbody>
    </table>
  </div>

  </div>

</div>

</div>
</div>
</div>
