<div class="container bg-light py-3">
    <div class="row">
        <div class="mx-auto col-sm-10">
      <div class="card">
        <div class="col-md-8">
          <h2 class="text-center">Projects</h2>
          <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Project Name</th>
                    <th><i class="fa fa-trash" aria-hidden="true"></i> Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                      <td><a [routerLink]="['/viewPorject', project.id]">{{project.projectName | titlecase}}</a></td>
                      <td><a [routerLink]="['/editPorject', project.id]">Edit</a></td>
                      <td><button class="btn btn-danger" (click)="deleteProject(project)"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</button></td>
                    </tr>
                </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>

  </div>
